*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: __Inter_d65c78, __Inter_Fallback_d65c78, Helvetica, sans-serif;
}
/* -------------------Advertise------------------ */
.advertise{
    background-color: #FFFDFA;
    display: flex;
    justify-content: space-between;
    padding: 9px 9px 14px 9px;   
    border-bottom: 1px solid;
}
.advertise_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.advertise_2 h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
.advertise_2 a{
    background-color: transparent;
    padding: 11px 21px;
    color: rgb(40, 78, 242,1);
    border : 1px solid rgb(40, 78, 242,1);
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;   
}
.advertise_2 a:hover{
    background-color: #284EF2;
    color: #fff;
}
.advertise_3{
    display: flex;
    align-items: center;
}
.advertise_3 i{
    font-size: 11px;
    color: #525151;
    /* font-weight: 900; */
}
.advertise_3 button:hover{
    /* font-size: 15px; */
    transform:scale(1.4);
}
.advertise_3 button{
    padding: 7px 9px;
    /* margin-right: 9px; */
    cursor: pointer;
    background-color: transparent;
    border: none;
}
/* ------------Header-------------- */
.header_1{
    display: flex;
}
.header_1_left{
    padding: 15px 51px;
    cursor: pointer;
    /* border: 1px solid; */
}
.header_1_right{
    background-color: #F2FBFF;
    width: 100%;
    display: flex;
    align-items: center;
}
.header_1_right h3{
    font-size: 15px;
    cursor: pointer;
    padding: 15px 35px;
    height: 100%;
    text-align:center;
}
/* .header_2_logo img{ */
    /* border: 1px solid; */
    
/* } */
.header_2{
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 70px;
    justify-content: space-between;
    /* align-items: center; */
}
.header_2_logo{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    cursor: pointer;
    /* border: 1px solid green; */
}
.header_2_left{
    display: flex;
    /* gap: 41px; */
}
.header_2_left nav ul{
    list-style-type: none;
    display: flex;
    gap: 23px;
}
.header_2_left nav ul li{
    cursor: pointer;
    padding: 25px 12px;
    transition: all 100ms;
}
.header_2_left nav ul li:hover{
    border-bottom: 2px solid blue;
}
.header_2_left nav ul li a{
    text-decoration:none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.header_btn_white{
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 17px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #344054;
    cursor: pointer;
    border-radius: 9px;
}
.header_btn_blue{
    background-color:#3561FF;
    padding: 19px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}
.header_2_right{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 32px;
}
/* ---------------------Sec_1----------------------- */
.sec_1{
    display: flex;
    padding: 81px 29px 0px 45px;
    gap: 35px;
    margin-bottom: 150px;
}
.sec_1_right video {
    max-width: 630px;
    /* height:750px; */
    border-top-left-radius: 190px;
    border-bottom-left-radius: 190px;
}
.sec_1_left{
    display: flex;
    flex-direction:column;
    gap: 25px;
    padding: 45px 0px;
}
.sec_1_left h3 i {
    color: rgb(255, 74, 169);
    font-weight: 600;
}
.sec_1_left h3{
    font-size: 55px;
    font-weight: 500;
}
.sec_1_left p {
    font-size: 19px;
}
.sec_1_btn{
    background: linear-gradient(to top, rgb(53, 97, 255) 50%, #fff 50%);
    background-position: 0% -100%;
    background-size: 100% 200%;
    font-size: 20px;
    color: #fff;
    padding: 15px 0px;
    cursor: pointer;
    border: 1px solid rgb(53, 97, 255);
    border-radius: 25px;
    width: 275px;
    /* display:inline-flexbox; */
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.sec_1_btn:hover{
    background-position: 0% 0%;
    color:rgb(53, 97, 255);
    border: 1px solid rgb(53, 97, 255);
}

/* .sec_1_btn:hover,
.sec_1_btn:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
} */

/* TODO after before qismi qalib btn ucun  */
